.swiper-container {
    // width: 100%;
    // height: calc(100vh - 76px);

    // .swiper-slide{
    //    height: calc(100vh - 76px);

    //    @media(max-width: 640px){
    //        height: 400px;
    //    }
    // }

    .swiper-pagination-bullet-active {
        color:#fff;
        background: $pinkLight;
      }

    .swiper-button-prev::after, .swiper-button-next::after{color: $black}
    
    .swiper-button-prev, .swiper-button-next{
        @media(max-width: 640px){
            display: none;
        }
    }

    
    
}